.header {
height: 100px;
font-family:serif;
text-align:center;
}

.header1 {
  font-size: 30px;
  width: 300px;
  margin:15px auto;
}

.header a{
  width: 100px;
  margin:0 auto;
}

.articles{
min-height: 1200px;
text-align: center;
}
.footer{
height: 100px;
text-align: center;
}
.article{
min-height:400px;
border: 1px solid black;
}
.title{
height:50px;
}
.comment{
min-height:350px;
}
