.header {
height: 200px;
border: 1px solid black;
}
.articles{
height: 1200px;
border: 1px solid black;
}
.footer{
height: 100px;
border: 1px solid black;
}
.article{
height:400px;
border: 1px solid blue;
}
.title{
height:100px;
border: 1px solid red;
}

.comment{
height:300px;
border:1px solid green;
}
